SECRET_KEY=django-insecure-%rub=vj+!-_)frix0xr^6^fus(n%#-ybjmzboe0zs58gt^5t+i
DEBUG=True
ALLOWED_HOSTS = 127.0.0.1

#Database credentials

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=




TEMPLATE_DEBUG=True